.search-products {
	.search-input {
		margin-top: 4rem;
	}

	main {
		width: 90%;
		margin: auto;
		margin-top: 5rem;
		font-size: 1.6rem;
		text-align: center;
		.error {
			text-align: center;
			color: red;
		}
		.products {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
