.search-input {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;

	.input-wrapper {
		display: flex;

		.green-block {
			background-color: var(--color-secondary);
			border-top-left-radius: 1rem;
			border-bottom-left-radius: 1rem;
			width: 4rem;
		}

		input {
			outline: none;
			width: 40vw;
			font-size: 1.8rem;
			padding: 0.5rem 1rem;
			border-top-right-radius: 1rem;
			border-bottom-right-radius: 1rem;
			border: 1px solid var(--color-secondary);
			@media (max-width: 600px) {
				width: 80%;
			}
		}
	}
	button {
		background-color: #fff;
		outline: none;
		font-size: 1.6rem;
		padding: 0.5rem 2rem;
		border-radius: 2rem;
		border: 1px solid var(--color-secondary);
		margin-left: 1rem;
		cursor: pointer;
		transition: all 0.1s ease-out;

		&:active {
			transform: translateY(0.5rem);
		}
	}
}
