.applied-filters {
	display: flex;
	width: 80%;
	margin: 3rem auto;
	flex-wrap: wrap;

	div {
		margin: 1rem 2rem;
		background-color: var(--color-primary);
		padding: 0.5rem 1rem;
		border-radius: 2rem;
		font-size: 1.6rem;
		cursor: pointer;
	}
	span {
		margin: 1rem 2rem;
		font-size: 2rem;
		display: block;
	}
}
